@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Inter, 'sans-serif';
}

.side-links li::before {
  content: "\2022";
  color: #3fd080;
  /* backgound: #8b949e; */
  font-weight: bold;
  display: inline-block; 
  width: 1.5em;
  margin-left: -1em;
}

.resource-card-tag::before {
  border: 2px solid #3fd080;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  margin-right: 4px;
}

